// Define defaults for each variable.

$base-font-family: Merriweather, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$pull-top:         -90px;

$text-color:       #151515 !default;
$background-color: #d6d6d6 !default;
$base-color:       #013b98 !default;
$accent-color:     #020208 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1020px !default;

$on-mobile:        480px !default;
$on-palm:          720px !default;
$on-laptop:        1020px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}
@mixin min-media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

// Import partials.
@import
  "solitude/base",
  "solitude/syntax-highlighting",
  "snow/style"
;
